@font-face {
    font-family: 'Noctis';
    src: url('../../assets/fonts/Noctis-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

footer{
    background: var(--color-primary);
    padding: 3rem 0;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 7rem;
    border-radius: 20px 20px 0 0;
    box-shadow: -18px -18px 30px #FFFFFF, 18px 18px 30px #D1D9E6, inset -18px -18px 30px #99b8b7, inset 18px 18px 50px #c2d5d5;
}

footer a{
    color: var(--color-bg);
}

.footer__logo{
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 2rem;
    display: inline-block;
    font-family: "Noctis";
}

.permalinks{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 3rem;
}

.footer__socials{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 4rem;
}

.footer__socials a{
    background: var(--color-light);
    color: var(--color-white);
    padding: 0.8rem;
    border-radius: 0.7rem;
    display: flex;
    border: 1px solid transparent;
}

.footer__socials a:hover{
    background: transparent;
    color: var(--color-bg);
   
}



/* Media Queries (Small devices)*/
@media screen and (max-width: 600px){
    .permalinks{
        flex-direction: column;
        gap: 1.5rem;
    }

    .footer__socials{
        margin-bottom: 4rem;
    }
}