.container.contact__container{
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12rem;
}

.contact__options{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    justify-content: space-between;
    
}


.contact__option {
    background: var(--color-bg-variant);
    padding: 2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
    min-width: 250px;
    box-shadow:  inset -18px -18px 30px #3b535fd2, inset 18px 18px 30px #20343dd2;
    
}

.contact__option:hover{
    background: #263a44;
    border-color: #263a44;
}


.contact__option-icon{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;

}

.contact__option a{
    margin-top: .7rem;
    display: inline-block;
    font-size: 0.8rem;
}

.contact__option>h5{
    color: var(--color-primary-variant)
}

.contact__option:hover>h5{
    color: var(--color-white)
}

input::placeholder, textarea{
    font-family: "Lato";
    color: var(--color-primary-variant)
}

/* Form */

form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    justify-content: space-between;
}

input, textarea {
    box-shadow: -18px -18px 30px #FFFFFF, 18px 18px 30px #D1D9E6, inset -18px -18px 30px #FFFFFF, inset 18px 18px 30px #D1D9E6;
    width: 100%;
    padding: 1.5rem;
    border-radius: .5rem;
    background: var(--color-bg);
    /* border: 2px solid var(--color-primary-variant); */
    resize: none;
    color: var(--color-white);
}

/* Media Queries (Medium devices)*/
@media screen and (max-width: 1024px){
    .container.contact__container{
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}

/* Media Queries (Small devices)*/
@media screen and (max-width: 600px){
    .container.contact__container{
        width: var(--container-width-sm);
    }
}